{% extends 'base.html.twig' %}

{% block title %}Personnage{% endblock %}

{% block body %}
    <h1>Personnage</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ character.name }}</td>
            </tr>
            <tr>
                <th>Niveau</th>
                <td>{{ character.level }}</td>
            </tr>
            <tr>
                <th>Force</th>
                <td>{{ character.strength }}</td>
            </tr>
            <tr>
                <th>Dextérité</th>
                <td>{{ character.dexterity }}</td>
            </tr>
            <tr>
                <th>Constitution</th>
                <td>{{ character.constitution }}</td>
            </tr>
            <tr>
                <th>Intelligence</th>
                <td>{{ character.inteligence }}</td>
            </tr>
            <tr>
                <th>Sagesse</th>
                <td>{{ character.wisdom }}</td>
            </tr>
            <tr>
                <th>Charisme</th>
                <td>{{ character.charisma }}</td>
            </tr>
            <tr>
                <th>Point de vie</th>
                <td>{{ character.healthPoints }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ character.image }}</td>
            </tr>
            <tr>
                <th>Race</th>
                <td>{{ character.race.name }}</td>
            </tr>
            <tr>
                <th>Classe</th>
                <td>{{ character.class.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_character_index') }}">Retour</a>

    <a href="{{ path('app_character_edit', {'id': character.id}) }}">Modifier</a>

    {{ include('character/_delete_form.html.twig') }}
{% endblock %}
