{% extends 'base.html.twig' %}

{% block title %}Groupe{% endblock %}

{% block body %}
    <h1>Groupe : {{ party.name }}</h1>
    <p>{{ party.description }}</p>
    <p>Taille maximale : {{ party.maxSize }}</p>

    <h2>Personnages inscrits :</h2>

    {% if allUsersCharacters|length > 0 %}
        <ul>
            {% for allUsersCharacter in allUsersCharacters %}
                <li>
                    {{ allUsersCharacter.name }}

                    {% if allUsersCharacter in userCharactersInParty %}
                        <a href="{{ path('app_character_show', {id: allUsersCharacter.id}) }}" class="btn btn-info">
                            Voir les détails
                        </a>

                        <form action="{{ path('app_party_delete_character', {partyId: party.id, characterId: allUsersCharacter.id}) }}" method="post" style="display:inline">
                            <button type="submit" class="btn btn-warning">Désinscrire</button>
                        </form>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Aucun personnage n'est encore inscrit dans ce groupe.</p>
    {% endif %}

    {% set hasAvailableCharacter = false %}

    {% for userCharacter in userCharacters %}
        {% if userCharacter not in userCharactersInParty %}
            {% set hasAvailableCharacter = true %}
        {% endif %}
    {% endfor %}

    {% if characterCount < party.maxSize %}
        {% if hasAvailableCharacter %}
            <a href="{{ path('app_party_add', {id: party.id}) }}" class="btn btn-success">
                Inscrire un personnage
            </a>
        {% else %}
            <p>Vous n'avez aucun personnage à inscrire</p>
        {% endif %}
    {% else %}
        <p>Le groupe est déjà plein</p>
    {% endif %}

    <a class="btn btn-secondary" href="{{ path('app_party_index') }}">Retour</a>
{% endblock %}
