{% extends 'base.html.twig' %}

{% block title %}Race{% endblock %}

{% block body %}
    <h1>Race</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>ID</th>
                <td>{{ race.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ race.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ race.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_race_index') }}">Retour à la liste</a>

    <a href="{{ path('app_race_edit', {'id': race.id}) }}">Modifier</a>

    {{ include('race/_delete_form.html.twig') }}
{% endblock %}
